body {
    background-color:#efece3;}

.header {
    color:#232323;
    text-align:center;
    }

.wholeform {
    text-align:center;
    margin:auto;
    width:33em;
    }




.tarea {
    width:90%;
    }