body {
    background-color:#efece3;}

.header {
    color:#232323;
    text-align:center;
    }

.wholeform {
    text-align:center;
    margin:auto;
    width:33em;
    border-radius:4px;
    }




.tarea {
    width:90%;
    border:1px solid;
    border-radius:4px;
    padding:4px;
    margin-top:4px;
    
    }